@import 'tailwindcss';

@theme {
  --font-pressStart: var(--font-pressStart);
  --font-vt323: var(--font-vt323);

  --color-primary: var(--color-cyan-500);
  --color-secondary: var(--color-fuchsia-700);
  --color-tertiary: var(--color-pink-500);

  --color-body: var(--color-green-400);
  --color-heading: var(--color-cyan-500);
}
